# dependencies
node_modules/
node/

# zipkin
zipkin.jar.*

# compiled output
dist/
tmp/
out-tsc/
static/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/

# codeMR
codemr/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db
